body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Roboto;
  font-size: 12px;
  color: #424242;
}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

#container{
  margin: 10%;
}

#cat-container{
  width: 100%;
}

#cats{
  list-style-type: none;
  padding: 0;
  width: 100%;
  opacity:1;
  display: inline;
}

.cat-names{
  vertical-align: top;
  position: absolute;
  padding: 1%;
  color: white;
  background-color: black;
  font-size: 200%;
  z-index: 1;
  margin: 1px;
}

.cat-list-style{
  width: 100%;
  display: inline;
}

.header{
  font-size: 20px;
  width: 10%;
}

.counter{
  display: block;
}

img{
  width: 50%;
}

img:hover{
  margin:none;
  cursor: pointer;
}
.cat-names:hover{
  margin:none;
  cursor: pointer;
}

.counter{
  font-size: 200%;
  width: 11%;
}
